@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.discover-scroll {
  overflow: auto;
}

.discover-scroll::-webkit-scrollbar {
  display: none;
}

.padding {
  padding: 0rem 15%;
}

.paddingD {
  padding-left: 15%;
}

@media screen and (max-width: 1000px) {
  .padding {
    padding: 0rem 10%;
  }
  .paddingD {
    padding-left: 10%;
  }
}

@media screen and (max-width: 700px) {
  .padding {
    padding: 0rem 3rem;
  }
  .paddingD {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .padding {
    padding: 0rem 1rem;
  }
  .paddingD {
    padding-left: 1rem;
  }
}
